unsloth
torch
torchvision
torchaudio
tqdm
numpy
pandas
accelerate
bitsandbytes
transformers
deep-translator
datasets
adapters
scikit-learn
evaluate
huggingface_hub
matplotlib
xformers
umap
empath
xformers
sentencepiece